.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vw;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

@media (min-width: 20rem) {
  .cell {
    font-size: 4rem;
  }
}
